#itemsContainter {
    width: 85%;
    height: 100%;

    display: flex;
    justify-content: center;
    border: 1px dashed black;
    margin-left: 15%;
    padding-top: 4rem;
}

#itemsContainter > ul {
    width: 100%;
    height: min-content;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*column-gap: 20px;    
    row-gap: 15px;*/
    row-gap: 15px;
    list-style-type: none;
    
    /*border: 1px solid green;*/

}

.items {
    width: 170px;
    height: 190px; /*Have to give fixed height because specifed min-content for ul tag */
    
    background-color: #f3f3f3;
    border: 0.5px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #9D9D9D;
    overflow: hidden;
    text-align: center;
}

.items > img {
    width: 50%;
    height: 45%;

    margin: 2% 0%;
}

.items > p {
    font-size: 10px;
}

.items > button {
    display: inline-block;
    padding: 5px;
}
