/* CSS RESET on margin and padding for all HTML Elements*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
    width: 100vw;
}

button {
    margin-left: 10px;
    padding: 5px
}