.signContainer {
    display: flex;
    border: 1px dashed black;
    border-radius: 10px;
    width: 100%;
    height: 100%; 
    justify-content: center;
}

.signForm {
    border: 1px solid gray;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 2.5rem;

    max-width: 700px;
    max-height: 550px;
}

#createText {
    text-align: center;
    margin-top: 2rem;
}

.newEmailField {
    display: block;
    height: 8%;
    width: 75%;
    margin: 5rem 0% 1rem 3.5rem;
}

.newPasswordField {
    display: block;
    height: 8%;
    width: 75%;
    margin: 1.5rem 0% 1rem 3.5rem;
}

.errors  {
    color: blue;
    margin: 0% 0% 2.5rem 3.5rem
}

#createBtn {
    float: right;

    border: 1px black none;
    border-radius: 5px;
    margin-top: 4rem;
    display: inline;
    
    width: 70px;
    height: 40px;

    background-color: skyblue;
    color: white;
    cursor: pointer;
}

#createBtn:hover {
    color: skyblue;
}

/*
Use % for sizing
Use rem for margin and padding
*/